*.html
*.old
*.bak
*~
*--
*.tmp
tmp-*
tmp*
*.tex
*.blg
*.bbl
*.ent
*.aux
*.log
*.dvi
*.toc
*.idx
*.ind
*.ilg
*.mgp
*-ho.*
*.ps
*.pdf
*.rtf
*.doc*
pub/
*.eps
*.png
# *.jpg
*.gif
small/*
.comments/
.gscache*
index.head
_makefile
book
welcome.yyaml
*.reveal.*
*.inc.yyaml
*.ho.yyaml
*.bmr.*
ChangeLog
.changelog-d
.cl-d
ALL
*.dict
*.index
CVS/
.cvs*
\.\#*
\#*
Makefile
*.bmr.*
*.mobi
*.epub
*.odt
*.txt
*.doc
*.xls
*.docx
*.out
*.nav
*.snm
*.vrb
*.inc.yaml
*.2c.*
*.kindle.*
*.tate.*
*.font.*
sitemap.org
*.swp
*.swa
